.header-photo {
    background-image: url('headerPhoto.jpg'); /* Replace 'path-to-your-image.jpg' with your image file path */
    background-size: cover; /* This property ensures the image covers the entire background */
    background-position: center center; /* Center the image both horizontally and vertically */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}